Repository docker/compose, pull requests merged in 2018-03, with the labels that each got.

#5807 Bump 1.20.0
  .circleci/config.yml
  CHANGELOG.md
  compose/__init__.py
  compose/progress_stream.py
  requirements.txt
  script/run/run.sh
  setup.py
  tests/unit/progress_stream_test.py
Labels: dco/no

#5822 fix race condition in Service.create_container()
  compose/service.py
  tests/unit/service_test.py
Labels: area/run, kind/bug

#5836 Ignore NotFound for external overlay networks
  compose/network.py
  tests/integration/network_test.py
Labels: area/networking, swarm
