Repository docker/compose, pull requests merged in 2019-05, with the labels that each got.

#6624 feat: drop empty tag on cache_from
  compose/service.py
Labels: kind/enhancement

#6649 support requests up to 2.22.0 version
  requirements.txt
  setup.py
Labels: area/build, kind/enhancement

#6666 Purge Dockerfile.armhf which is no longer needed
  Dockerfile.armhf
  script/test/default
Labels: area/build
