Repository docker/compose, pull requests merged in 2019-11, with the labels that each got.

#7028 Bump 1.25.0
  CHANGELOG.md
  README.md
  compose/__init__.py
  compose/cli/colors.py
  compose/cli/log_printer.py
  compose/cli/main.py
  compose/service.py
  script/release/release.py
  script/run/run.sh
Labels: dco/no

#7042 Sync backport changes in release 1.25.0
  CHANGELOG.md
  compose/__init__.py
  script/release/release.py
  script/run/run.sh
Labels: dco/no

#7037 config_detail.filename is None when passed by stdin
  compose/cli/command.py
  tests/acceptance/cli_test.py
Labels: status/4-ready-to-merge

#7010 Build OSX binary as a directory
  .circleci/config.yml
  docker-compose_darwin.spec
  script/build/osx
  script/release/release/downloader.py
Labels: area/build, status/4-ready-to-merge

#7049 Update maintainers and add CODEOWNERS for github
  .github/CODEOWNERS
  MAINTAINERS
Labels: status/4-ready-to-merge

#7005 Pass in HOME env-var in container mode.
  script/run/run.sh
Labels: compose-in-a-container

#7071 Bump 1.25.1-rc1
  .circleci/config.yml
  .github/CODEOWNERS
  CHANGELOG.md
  MAINTAINERS
  README.md
  compose/__init__.py
  compose/cli/command.py
  compose/progress_stream.py
  compose/project.py
  docker-compose_darwin.spec
  script/build/osx
  script/circle/bintray-deploy.sh
  script/release/release/downloader.py
  script/run/run.sh
  script/setup/osx
  tests/acceptance/cli_test.py
  tests/fixtures/simple-composefile/can-build-pull-failures.yml
Labels: dco/no
