Repository docker/compose, pull requests merged in 2020-01, with the labels that each got.

#7123 Bump 1.25.1
  CHANGELOG.md
  compose/__init__.py
  compose/service.py
  requirements-dev.txt
  script/run/run.sh
  tests/unit/service_test.py
Labels: dco/no

#7128 Post release 1.25.1
  CHANGELOG.md
  script/run/run.sh
Labels: dco/no

#7122 Don't adjust output on terminal width when piped into another command
  compose/cli/formatter.py
Labels: kind/bug, status/4-ready-to-merge

#7093 Validate version format on formats 2+
  compose/config/config.py
  tests/unit/config/config_test.py
Labels: kind/bug, status/4-ready-to-merge

#7085 Remove "bundle" subcommand and support for DAB files
  compose/bundle.py
  compose/cli/main.py
  compose/project.py
  contrib/completion/bash/docker-compose
  contrib/completion/zsh/_docker-compose
  tests/acceptance/cli_test.py
  tests/fixtures/bundle-with-digests/docker-compose.yml
  tests/unit/bundle_test.py
Labels: area/bundle, kind/feature, status/4-ready-to-merge

#6623 support PyYAML up to 5.x version
  requirements.txt
  setup.py
  tests/acceptance/cli_test.py
  tests/unit/config/config_test.py
Labels: area/build, kind/enhancement, status/4-ready-to-merge

#6873 Bump Pytest and add refactor compatibility with new version
  requirements-dev.txt
  tests/helpers.py
  tests/integration/project_test.py
  tests/integration/state_test.py
  tests/unit/config/config_test.py
  tests/unit/config/environment_test.py
Labels: kind/feature, status/4-ready-to-merge

#7027 Allow compatibility option with `COMPOSE_COMPATIBILITY` environment variable
  compose/cli/command.py
  tests/acceptance/cli_test.py
Labels: kind/feature, status/2-code-review

#7145 Refactor mutable default values.
  compose/cli/command.py
  compose/project.py
  compose/service.py
Labels: kind/bug, status/2-code-review

#6950 Add "--attach-dependencies" to command "up" for attaching to dependencies
  compose/cli/main.py
  contrib/completion/bash/docker-compose
  contrib/completion/zsh/_docker-compose
  tests/acceptance/cli_test.py
  tests/fixtures/abort-on-container-exit-dependencies/docker-compose.yml
  tests/fixtures/echo-services-dependencies/docker-compose.yml
  tests/unit/cli/main_test.py
Labels: kind/feature

#7155 Bump 1.25.2-rc1
  .circleci/config.yml
  .dockerignore
  CHANGELOG.md
  Dockerfile
  Jenkinsfile
  Release.Jenkinsfile
  appveyor.yml
  compose/__init__.py
  compose/bundle.py
  compose/cli/command.py
  compose/cli/formatter.py
  compose/cli/main.py
  compose/config/config.py
  compose/project.py
  compose/service.py
  contrib/completion/bash/docker-compose
  contrib/completion/zsh/_docker-compose
  requirements-build.txt
  requirements-dev.txt
  requirements.txt
  script/Jenkinsfile.fossa
  script/build/linux-entrypoint
  script/fossa.mk
  script/release/generate_changelog.sh
  script/run/run.sh
  script/setup/osx
  setup.py
  tests/acceptance/cli_test.py
  tests/fixtures/abort-on-container-exit-dependencies/docker-compose.yml
  tests/fixtures/bundle-with-digests/docker-compose.yml
  tests/fixtures/echo-services-dependencies/docker-compose.yml
  tests/helpers.py
  tests/integration/project_test.py
  tests/integration/state_test.py
  tests/unit/bundle_test.py
  tests/unit/cli/main_test.py
  tests/unit/config/config_test.py
  tests/unit/config/environment_test.py
Labels: dco/no

#7183 Enforce Python37 in the creation of virtualenv on windows CI
  script/build/windows.ps1
Labels: kind/bug

#7150 Add python-dotenv to delegate `.env` file processing
  compose/config/environment.py
  requirements.txt
  tests/unit/config/environment_test.py
Labels: kind/bug

#7165 Add missing test dependency ddt to setup.py
  setup.py
Labels: kind/feature

#7197 Force MacOS SDK version to "10.11"
  Release.Jenkinsfile
Labels: kind/bug

#7199 Remove `None` entries on exec command
  compose/cli/main.py
  tests/acceptance/cli_test.py
  tests/fixtures/exec-novalue-var/docker-compose.yml
Labels: kind/bug
