Repository docker/compose, pull requests merged in 2022-12, with the labels that each got.

#9904 fix"convert --images" output to right format
  cmd/compose/convert.go
Labels: kind/bug, area/cli

#10032 test: speed up Cucumber stop test
  e2e/cucumber-features/stop.feature
Labels: area/tests

#10031 schema: add support for tmpfs.mode in mount definition
  e2e/cucumber-features/volume-tmpfs.feature
  e2e/cucumber_test.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/compose/create.go
  pkg/e2e/framework.go
Labels: kind/bug, area/run, area/up, area/volumes, dependencies

#10037 ci: upgrade to Go 1.19.3 & bump deps
  Dockerfile
  docker-bake.hcl
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: dependencies

#10039 port: improve error-handling if port not found
  Makefile
  cmd/compose/port.go
  pkg/api/api.go
  pkg/api/proxy.go
  pkg/compose/port.go
  pkg/mocks/mock_docker_compose_api.go
Labels: area/cli

#10090 volume: fix WCOW volume mounts
  pkg/compose/create.go
Labels: kind/bug, area/volumes, os/windows
