Repository docker/compose, pull requests merged in 2022-09, with the labels that each got.

#9811 logs: filter to services from current Compose file
  cmd/compose/logs.go
  pkg/api/api.go
  pkg/compose/convergence_test.go
  pkg/compose/down_test.go
  pkg/compose/kill_test.go
  pkg/compose/logs.go
  pkg/compose/logs_test.go
  pkg/compose/ps_test.go
  pkg/compose/stop_test.go
Labels: kind/bug, area/cli, area/logs

#9819 build: label built images for reliable cleanup on `down`
  pkg/api/labels.go
  pkg/compose/build.go
  pkg/compose/build_classic.go
  pkg/compose/compose.go
  pkg/compose/down.go
  pkg/compose/down_test.go
  pkg/compose/image_pruner.go
  pkg/compose/kill_test.go
  pkg/e2e/build_test.go
Labels: kind/bug, area/build

#9847 keep the platform defined at service level during build if no build patforms provided
  pkg/compose/build.go
  pkg/e2e/build_test.go
  pkg/e2e/fixtures/build-test/platforms/compose-service-platform-and-no-build-platforms.yaml
Labels: area/build, Docker Compose V2

#9862 configure default builder export when no build.platforms defined
  pkg/compose/build.go
Labels: area/build, Docker Compose V2

#9866 keep the platform defined, in priority, via DOCKER_DEFAULT_PLATFORM o…
  pkg/compose/build.go
Labels: area/build, Docker Compose V2

#9871 Remove support for `DOCKER_HOST` in `.env` files
  cmd/compose/compose.go
  go.mod
  go.sum
Labels: kind/bug

#9876 ci: upgrade to compose-go v1.6.0
  go.mod
  go.sum
Labels: dependencies

#9874 GitHub Workflows security hardening
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/merge.yml
Labels: security

#9878 deps: fix race condition during graph traversal
  pkg/compose/dependencies.go
  pkg/compose/dependencies_test.go
Labels: kind/bug
