Repository docker/compose, pull requests merged in 2022-11, with the labels that each got.

#9947 add support of deploy.reservation.memory
  pkg/compose/create.go
Labels: area/config

#9935 remove uses of deprecated gotest.tools v2
  .golangci.yml
  cmd/formatter/formatter_test.go
  go.mod
  go.sum
  pkg/compose/convergence_test.go
  pkg/compose/dependencies_test.go
  pkg/compose/envresolver_test.go
Labels: dependencies

#9982 ci: update dependencies to latest
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: dependencies

#9976 add --no-consistency flag to convert command
  cmd/compose/convert.go
  docs/reference/compose_convert.md
  docs/reference/docker_compose_convert.yaml
Labels: area/config

#9984 check if a missing image won't be build via a service declared in depends_on section
  pkg/compose/pull.go
  pkg/e2e/fixtures/dependencies/Dockerfile
  pkg/e2e/fixtures/dependencies/service-image-depends-on.yaml
  pkg/e2e/up_test.go
Labels: area/up

#10016 change the default branch of the doc repository
  .github/workflows/docs.yml
Labels: kind/docs

#10017 useDockerDefaultOrServicePlatform fct should return service.platform if defined
  pkg/compose/build.go
Labels: area/build, area/up
