Repository docker/compose, pull requests merged in 2022-08, with the labels that each got.

#9708 build: bump to Go 1.18.5
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  Dockerfile
  docs/docs.Dockerfile
Labels: dependencies

#9438 Resolve environment variables case-insensitively on Windows
  pkg/compose/build.go
  pkg/compose/envresolver.go
  pkg/compose/envresolver_test.go
  pkg/compose/run.go
Labels: kind/bug, area/build, area/run, Docker Compose V2, os/windows

#9709 build: upgrade BuildKit & docker/distribution
  go.mod
  go.sum
Labels: dependencies

#9701 up: do not stop dependency containers
  pkg/compose/up.go
  pkg/e2e/assert.go
  pkg/e2e/buffer.go
  pkg/e2e/fixtures/ups-deps-stop/compose.yaml
  pkg/e2e/fixtures/ups-deps-stop/orphan.yaml
  pkg/e2e/up_test.go
Labels: kind/bug

#9712 config: use correct YAML marshal func
  go.mod
  go.sum
  pkg/compose/compose.go
Labels: kind/cleanup, dependencies, Docker Compose V2
