Repository docker/compose, pull requests merged in 2022-07, with the labels that each got.

#9640 Fix issue with close networks name on up and down command
  pkg/compose/create.go
  pkg/compose/down.go
Labels: area/networking, Docker Compose V2

#9641 keep the container reference when volumes_from target a container and not a service
  pkg/compose/create.go
Labels: area/volumes, Docker Compose V2

#9647 add 2 named networks with close name in the networks test suite to gu…
  pkg/e2e/fixtures/network-test/compose.yaml
Labels: area/tests, area/networking

#9179 as --no-build is set, set service image to default image name
  cmd/compose/create.go
  pkg/api/api.go
  pkg/compose/build.go
  pkg/compose/build_classic.go
  pkg/compose/create.go
  pkg/compose/create_test.go
  pkg/compose/down.go
Labels: kind/bug, area/up

#9687 use '-' as separator by default for image name
  cmd/compose/compose.go
  pkg/api/api.go
  pkg/compose/compose.go
  pkg/compose/convergence.go
  pkg/compose/create_test.go
  pkg/e2e/build_test.go
  pkg/e2e/fixtures/project-volume-bind-test/docker-compose.yml
  pkg/e2e/networks_test.go
  pkg/e2e/scan_message_test.go
  pkg/e2e/volumes_test.go
Labels: area/config, Docker Compose V2
