Repository docker/compose, pull requests merged in 2023-08, with the labels that each got.

#10853 watch: add tar sync implementation
  internal/sync/tar.go
  pkg/compose/watch.go
  pkg/e2e/watch_test.go
  pkg/watch/watcher_darwin.go
Labels: kind/enhancement

#10875 test: temporarily disable an exit-code-from Cucumber test case
  e2e/cucumber-features/stop.feature
Labels: area/tests

#10865 watch: batch & de-duplicate file events
  internal/sync/docker_cp.go
  internal/sync/shared.go
  internal/sync/tar.go
  pkg/compose/compose.go
  pkg/compose/watch.go
  pkg/compose/watch_test.go
  pkg/e2e/watch_test.go
Labels: kind/enhancement

#10870 up: do not warn on successful optional dependency complete
  pkg/compose/convergence.go
Labels: kind/bug

#10877 watch: enable tar-based syncer by default
  pkg/compose/watch.go
  pkg/e2e/watch_test.go
Labels: kind/feature

#10879 Improve shell completion for `--project-directory`
  cmd/compose/compose.go
Labels: kind/enhancement

#10891 bump compose-go to version v1.18.0
  go.mod
  go.sum
Labels: dependencies

#10893 bump compose-go to version v1.18.1
  go.mod
  go.sum
Labels: dependencies

#10908 clone variable berfore we capture a pointer
  pkg/compose/build.go
Labels: kind/bug

#10910 up: handle various attach use cases better
  cmd/compose/up.go
  docs/reference/compose_up.md
  docs/reference/docker_compose_up.yaml
  pkg/compose/start.go
  pkg/utils/set.go
  pkg/utils/set_test.go
Labels: kind/bug, area/up

#10916 ci: bump golangci-lint to v1.54.2
  Dockerfile
Labels: dependencies

#10947 build(deps): upgrade to compose-go v1.18.3
  cmd/compose/compose.go
  cmd/compose/config.go
  go.mod
  go.sum
Labels: dependencies

#10950 test: e2e test reliability improvements
  pkg/e2e/compose_up_test.go
  pkg/e2e/profiles_test.go
Labels: area/tests

#10934 up: fix various race/deadlock conditions on exit
  pkg/compose/printer.go
  pkg/compose/up.go
  pkg/e2e/assert.go
  pkg/e2e/up_test.go
Labels: kind/bug, area/up
