Repository docker/compose, pull requests merged in 2023-07, with the labels that each got.

#10763 when --index is not set select first service container
  cmd/compose/cp.go
  cmd/compose/exec.go
  cmd/compose/port.go
  docs/reference/compose_cp.md
  docs/reference/compose_exec.md
  docs/reference/compose_port.md
  docs/reference/docker_compose_cp.yaml
  docs/reference/docker_compose_exec.yaml
  docs/reference/docker_compose_port.yaml
  pkg/compose/containers.go
  pkg/compose/port.go
Labels: kind/bug, area/run

#10781 deps: bump docker/cli-docs-tool to v0.6.0
  docs/reference/compose.md
  docs/reference/docker_compose.yaml
  docs/reference/docker_compose_alpha.yaml
  docs/reference/docker_compose_alpha_viz.yaml
  docs/reference/docker_compose_alpha_watch.yaml
  docs/reference/docker_compose_build.yaml
  docs/reference/docker_compose_config.yaml
  docs/reference/docker_compose_cp.yaml
  docs/reference/docker_compose_create.yaml
  docs/reference/docker_compose_down.yaml
  docs/reference/docker_compose_events.yaml
  docs/reference/docker_compose_exec.yaml
  docs/reference/docker_compose_images.yaml
  docs/reference/docker_compose_kill.yaml
  docs/reference/docker_compose_logs.yaml
  docs/reference/docker_compose_ls.yaml
  docs/reference/docker_compose_pause.yaml
  docs/reference/docker_compose_port.yaml
  docs/reference/docker_compose_ps.yaml
  docs/reference/docker_compose_pull.yaml
  docs/reference/docker_compose_push.yaml
  docs/reference/docker_compose_restart.yaml
  docs/reference/docker_compose_rm.yaml
  docs/reference/docker_compose_run.yaml
  docs/reference/docker_compose_start.yaml
  docs/reference/docker_compose_stop.yaml
  docs/reference/docker_compose_top.yaml
  docs/reference/docker_compose_unpause.yaml
  docs/reference/docker_compose_up.yaml
  docs/reference/docker_compose_version.yaml
  docs/reference/docker_compose_wait.yaml
  go.mod
  go.sum
Labels: kind/docs, dependencies

#10784 fix(secrets): file permission value does not comply with spec
  pkg/compose/secrets.go
Labels: kind/bug, area/secrets

#10794 bump buildkit to version v0.11.0-rc3.0.20230620112432-2d91ddcceedc
  go.mod
  go.sum
Labels: dependencies

#10810 go.mod: github.com/docker/docker 8443a06149b5 (v24.0.5-dev)
  go.mod
  go.sum
Labels: dependencies

#10816 test: speed up the e2e test suite
  pkg/e2e/compose_exec_test.go
  pkg/e2e/compose_test.go
  pkg/e2e/compose_up_test.go
  pkg/e2e/fixtures/build-dependencies/compose.yaml
  pkg/e2e/fixtures/dependencies/deps-completed-successfully.yaml
  pkg/e2e/fixtures/dependencies/recreate-no-deps.yaml
  pkg/e2e/fixtures/ipam/compose.yaml
  pkg/e2e/fixtures/logs-test/compose.yaml
  pkg/e2e/fixtures/network-test/compose.yaml
  pkg/e2e/fixtures/restart-test/compose-depends-on.yaml
  pkg/e2e/fixtures/restart-test/compose.yaml
  pkg/e2e/fixtures/sentences/compose.yaml
  pkg/e2e/fixtures/start-fail/compose.yaml
  pkg/e2e/fixtures/start-fail/start-depends_on-long-lived.yaml
  pkg/e2e/fixtures/stdout-stderr/compose.yaml
Labels: area/tests

#10827 go.mod: buildx v0.11.2, buildkit v0.12, docker/cli v24.0.5-dev
  go.mod
  go.sum
Labels: dependencies

#10814 build: do not attempt to push unnamed service images
  cmd/compose/config.go
  pkg/api/api.go
  pkg/compose/build.go
  pkg/compose/build_classic.go
  pkg/compose/pull.go
  pkg/compose/viz.go
  pkg/e2e/build_test.go
Labels: kind/bug, area/build

#10829 test: watch e2e reliability tweaks
  pkg/e2e/watch_test.go
Labels: area/tests
