Repository docker/compose, pull requests merged in 2023-06, with the labels that each got.

#10623 Fix typo in warning about existing volume
  pkg/compose/create.go
Labels: kind/bug

#10662 ci: upgrade to Go 1.20.5 and Moby v24.x
  Dockerfile
  go.mod
  go.sum
  pkg/api/dryrunclient.go
  pkg/compose/build_classic.go
  pkg/compose/compose.go
  pkg/compose/cp.go
  pkg/compose/down_test.go
  pkg/compose/kill_test.go
  pkg/compose/stop_test.go
  pkg/mocks/mock_docker_api.go
Labels: dependencies

#10717 otel: fix initialization / error-handling
  internal/tracing/docker_context.go
  internal/tracing/mux.go
Labels: kind/bug

#10719 trace: refactor root command span reporting
  cmd/cmdtrace/cmd_span.go
  cmd/main.go
  internal/tracing/tracing.go
Labels: area/cli

#10756 up: fix race condition on network connect
  pkg/compose/convergence.go
  pkg/compose/create.go
  pkg/compose/create_test.go
  pkg/compose/run.go
Labels: kind/bug, area/up, area/networking

#10757 ci: upgrade compose-go to v1.15.1
  go.mod
  go.sum
Labels: dependencies
