Repository docker/compose, pull requests merged in 2023-09, with the labels that each got.

#10956 build: pass BuildOptions around explicitly & fix multi-platform issues
  cmd/compose/build.go
  cmd/compose/compose.go
  cmd/compose/create.go
  cmd/compose/options.go
  cmd/compose/options_test.go
  cmd/compose/run.go
  cmd/compose/up.go
  pkg/api/api.go
  pkg/compose/build.go
  pkg/compose/build_test.go
  pkg/compose/create.go
  pkg/compose/run.go
  pkg/compose/watch.go
Labels: kind/bug, kind/cleanup, area/build, area/run, area/up

#10954 migrate to github.com/distribution/reference
  go.mod
  go.sum
  pkg/compose/compose.go
  pkg/compose/image_pruner.go
  pkg/compose/images.go
  pkg/compose/pull.go
  pkg/compose/push.go
Labels: dependencies

#10957 watch: build & launch the project at start
  cmd/compose/watch.go
  docs/reference/compose_alpha_watch.md
  docs/reference/docker_compose_alpha_watch.yaml
  pkg/api/api.go
  pkg/compose/watch.go
  pkg/compose/watch_test.go
  pkg/e2e/watch_test.go
Labels: kind/enhancement, area/watch

#10982 cli: fix `--build` flag for `create`
  cmd/compose/create.go
  cmd/compose/create_test.go
  go.mod
Labels: area/build, area/cli

#10991 deps: upgrade Moby to v24.0.6 and gRPC to v1.58.0
  go.mod
  go.sum
Labels: dependencies

#10992 ci: tweak restricted imports in linter
  .golangci.yml
  go.mod
  pkg/compose/compose.go
Labels: kind/cleanup, dependencies

#11023 remove --timeout=0 flag to cleanup function of watch e2e test
  pkg/e2e/watch_test.go
Labels: area/tests, area/watch

#11045 Make tests verbose
  Makefile
Labels: area/tests

#11047 update the watch warning message when no services with a develop section
  pkg/compose/watch.go
Labels: area/watch
