Repository docker/compose, pull requests merged in 2023-05, with the labels that each got.

#10519 Revert "build(deps): bump github.com/opencontainers/image-spec"
  go.mod
  go.sum
Labels: dependencies

#10479 stop containers after termination
  pkg/compose/up.go
Labels: kind/bug, area/up, status/2-code-review

#10558 fix local image removal when `compose down` is ran with `--project-name`
  pkg/compose/down_test.go
  pkg/compose/image_pruner.go
Labels: kind/bug

#10616 fix display of volumes flag in down command help
  cmd/compose/down.go
  docs/reference/compose_down.md
  docs/reference/docker_compose_down.yaml
Labels: kind/docs
