Repository docker/compose, pull requests merged in 2023-04, with the labels that each got.

#10437 ci: bump Go to 1.20.3 and various dependencies
  Dockerfile
  go.mod
  go.sum
  pkg/compose/build.go
  pkg/watch/watcher_darwin.go
Labels: dependencies

#10438 bump docker version to 23.0.3 (CVE-2023-28840)
  go.mod
  go.sum
Labels: dependencies

#10459 log: fix race on container kill
  pkg/compose/start.go
Labels: kind/bug, area/logs

#10449 Remove redundant goroutine while removing containers
  pkg/compose/down.go
Labels: kind/enhancement

#10494 test: fix E2E tests under Engine v23 / DD 4.19
  pkg/e2e/build_test.go
Labels: area/tests
