Repository docker/compose, pull requests merged in 2024-01, with the labels that each got.

#11320 go.mod: update docker/docker and docker/cli to v25.0.0-rc.1
  go.mod
  go.sum
Labels: dependencies

#11332 ci(deps): bump golangci-lint to v1.55.2
  Dockerfile
Labels: dependencies

#11333 feat(cli): report more useful User-Agent on engine API requests
  cmd/main.go
Labels: kind/enhancement, area/cli

#11364 fix(tracing): batch span exports to prevent blocking
  internal/tracing/tracing.go
Labels: kind/bug, area/cli

#11381 ci(deps): upgrade to Moby v25.0.0 GA
  .github/workflows/ci.yml
  go.mod
  go.sum
Labels: dependencies

#11382 chore(e2e): fix flaky test & standalone behavior
  pkg/e2e/cancel_test.go
  pkg/e2e/e2e_config_plugin.go
Labels: area/tests
