Repository docker/compose, pull requests merged in 2024-03, with the labels that each got.

#11566 ci(deps): bump moby/moby & docker/cli to v25.0.4
  go.mod
  go.sum
Labels: dependencies

#11578 chore(deps): upgrade go to 1.21.8
  Dockerfile
Labels: dependencies

#11593 feat(desktop): add Docker Desktop detection and client skeleton
  cmd/compose/compose.go
  cmd/main.go
  go.mod
  internal/desktop/client.go
  internal/desktop/integration.go
  internal/memnet/conn.go
  internal/memnet/conn_unix.go
  internal/memnet/conn_windows.go
  internal/tracing/docker_context.go
  pkg/compose/compose.go
  pkg/compose/desktop.go
Labels: area/desktop

#11633 feat(experiments): add experimental feature state
  cmd/compose/compose.go
  cmd/compose/up.go
  cmd/main.go
  internal/desktop/client.go
  internal/desktop/discovery.go
  internal/desktop/integration.go
  internal/experimental/experimental.go
  internal/locker/pidfile_windows.go
  pkg/compose/compose.go
  pkg/compose/desktop.go
Labels: area/cli

#11614 feat(desktop): synchronized file share integration
  go.mod
  go.sum
  internal/desktop/client.go
  internal/desktop/client_test.go
  internal/desktop/file_shares.go
  internal/experimental/experimental.go
  internal/paths/paths.go
  pkg/compose/create.go
  pkg/compose/down.go
  pkg/compose/scale.go
  pkg/compose/up.go
  pkg/compose/watch.go
  pkg/progress/tty.go
  pkg/watch/dockerignore.go
  pkg/watch/paths.go
  pkg/watch/watcher_darwin.go
  pkg/watch/watcher_naive.go
Labels: kind/feature, area/desktop

#11647 chore(deps): revert "Bump compose-go to v2.0.1"
  go.mod
  go.sum
  pkg/compose/create.go
Labels: dependencies

#11605 Add navigation menu with in compose up (attached)
  Dockerfile
  Makefile
  cmd/compose/compose.go
  cmd/compose/up.go
  cmd/formatter/ansi.go
  cmd/formatter/colors.go
  cmd/formatter/logs.go
  cmd/formatter/shortcut.go
  docs/reference/docker_compose_up.yaml
  go.mod
  go.sum
  internal/tracing/keyboard_metrics.go
  internal/tracing/wrap.go
  pkg/api/api.go
  pkg/compose/compose.go
  pkg/compose/create.go
  pkg/compose/down.go
  pkg/compose/up.go
  pkg/compose/watch.go
Labels: kind/feature

#11653 chore(desktop): revised feature detection for file shares
  internal/desktop/client.go
  pkg/compose/create.go
  pkg/compose/desktop.go
  pkg/compose/down.go
Labels: area/desktop
